*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --br: 5px;
}

body{
    background-image: url(/niebla.jpg);
    background-position: center;
}

header{
    position: relative;
    background-color: rgba(255, 255, 255, 0.4);
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    border-radius: var(--br);
    margin: 5px;
}

ul{
    list-style: none;
    margin: 10px;
}

nav a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    display: block;
}

nav a:hover{
    cursor: pointer;
    color: rgb(255, 255, 255);
    border-radius: var(--br);
    background-color: rgba(32, 178, 171);
    box-shadow: 0 3px 5px 2px rgba(83, 182, 240, 0.5);
}

nav ul ul{
    position: absolute;
    top: 15px;
    display: none;
}

nav > ul{
    display: flex;
    position: relative;
}

.n1{
    line-height: 1.1em;
}

.n1 ul{
    position: absolute;
}

.n1:hover ul{
    cursor: pointer;
    display: block;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: var(--br);
    box-shadow: 0 3px 5px 2px rgba(83, 182, 240, 0.5);
    backdrop-filter: blur(50px);
}

.n1 ul li a{
    color: black;
}